body {
  background-color: #cac7c0;
  font-family: 'Garamond Premier Pro';
  color: #663300;
  font-size: 12px;
}

a {
  color: #663300;
/*    #613104;*/
/*  text-decoration: none;*/
}
/*.text {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px}
.text {  font-weight: normal}*/
