/* text-color: #613104  */

/* Structure */

#page {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #ccc7c1;
  height: 600px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  widows: 0;
  orphans: 0;
  text-align: center;
  font-family: 'Garamond Premier Pro', sans-serif;
  color: #613104;
  font-size: 12px;
/*  vertical-align: */
}

#container {
  padding: 1% 1% 0px 1%;

}

#header {
  height: 15%;
  border-bottom-color: #bdb4ad;
  border-bottom-style: solid;
  border-bottom-width: 1px; 
}

#content {
  height: 70%;
}

#footer {
  height: 12%;
}

.two_columns {}

.left_column {
  border-right-color: #bdb4ad;
  border-right-style: solid;
  border-right-width: 1px;
  width: 29%;
  float: left;
  text-align: left;
  height: 100%;
}

.right_column {
  width: 70%;
  float: right;
  vertical-align: middle;
}

/* Page elements */

/*#title_img {
  vertical-align: middle;
}*/

#title_img {
  padding-top: 3px;
}

#title_img img {
  height: 85px;
}

#big_img {
  padding-top: 30px;
}

#big_img img {
  width: 500px;
}

#big_image_title {
  padding-top: 10px;
}

#menu {
  padding-top: 30px;
}

#menu td {
  padding-left: 35px;
/*  width: 21.5%;*/
}

#menu a {
  color: #613104;
  font-size: 11px;
  text-decoration: none;
}