#page {
  background-color: #ccc7c1;
  width: 99%;
  height: 99%;
/*width: 982px;
  height: 700px;*/
/*  min-height:
  min-width:*/
  max-height: 700px;
  max-width: 982px;
  margin-left: auto;
  margin-right: auto;
  widows: 0;
  orphans: 0;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  }

#container {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
/*  padding-top: 20px;*/
}

#container .left_column {

}

#container .right_column {

}

#header {
 width: 100%;
 height: 20%;
}

#content {
  width: 100%;
  height: 55%;
}

#content .left_column {
  border-bottom: none;
  border-right-color: #bdb4ad;
  border-right-style: solid;
  border-right-width: 1px;
}

#content .right_column {
  border-bottom: none;
}

#footer {
  height: 25%;
  width: 100%;
  /*  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.4em;*/
}

#footer .left_column {
  border-bottom: none;
  border-right-color: #bdb4ad;
  border-right-style: solid;
  border-right-width: 1px;
}

#footer .right_column {
  border-bottom: none;
}

.left_column {
  border-right-color: #bdb4ad;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #bdb4ad;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 29%;
  float: left;
  text-align: left;
  height: 100%;
}

.right_column {
  border-bottom-color: #bdb4ad;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 71%;
  float: right;
  text-align: left;
  height: 100%;
}

.two_columns {
  width: 100%;
  height: 100%;
}
